<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Author</key>
	<string>Matt Bauman</string>
	<key>Builder Version</key>
	<string>9537.71</string>
	<key>CFBundleDisplayName</key>
	<string>HNES</string>
	<key>CFBundleIdentifier</key>
	<string>com.mbauman.hnes</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleShortVersionString</key>
	<string>1.0</string>
	<key>CFBundleVersion</key>
	<string>1</string>
	<key>Chrome</key>
	<dict>
		<key>Database Quota</key>
		<real>10485760</real>
	</dict>
	<key>Content</key>
	<dict>
		<key>Scripts</key>
		<dict>
			<key>End</key>
			<array>
				<string>js/jquery-1.7.2.min.js</string>
				<string>js/linkify/jquery.linkify-1.0-min.js</string>
				<string>js/linkify/plugins/jquery.linkify-1.0-twitter-min.js</string>
				<string>js/hn.js</string>
			</array>
		</dict>
		<key>Stylesheets</key>
		<array>
			<string>style.css</string>
		</array>
	</dict>
	<key>Description</key>
	<string>A port of Chris James' Hacker News Enhancement Suite for Safari</string>
	<key>ExtensionInfoDictionaryVersion</key>
	<string>1.0</string>
	<key>Permissions</key>
	<dict>
		<key>Website Access</key>
		<dict>
			<key>Allowed Domains</key>
			<array>
				<string>news.ycombinator.com</string>
				<string>news.ycombinator.org</string>
				<string>news.ycombinator.net</string>
			</array>
			<key>Include Secure Pages</key>
			<true/>
			<key>Level</key>
			<string>Some</string>
		</dict>
	</dict>
	<key>Website</key>
	<string>https://github.com/mbauman/HNES</string>
</dict>
</plist>
